
#game-loading {
    display: flex;
    grid-area: loading;
}

#game-loading_index {
    text-align: center;
    font-size: large;
}

#game-loading_next,
#game-loading_prev {
    padding: 5px 20px;
}
